<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Masume Thumbnail</string>
    <key>CFBundleExecutable</key>
    <string>MasumeQuickLookThumbnail</string>
    <key>CFBundleIdentifier</key>
    <string>com.2b3pro.masume.QuickLookThumbnail</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>MasumeQuickLookThumbnail</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>0.6.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
        <string>MacOSX</string>
    </array>
    <key>CFBundleVersion</key>
    <string>0.6.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>15.0</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>QLSupportedContentTypes</key>
            <array>
                <string>com.2b3pro.masume.project</string>
            </array>
            <key>QLThumbnailMinimumDimension</key>
            <integer>0</integer>
        </dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.quicklook.thumbnail</string>
        <key>NSExtensionPrincipalClass</key>
        <string>MasumeQuickLookThumbnail.ThumbnailProvider</string>
    </dict>
</dict>
</plist>
